html {
    height: 100%;
}
body {
    height: 100%;
	background-color: #f9f9f9e8;
    background-image: url("../media/pics/Samsa30.png");
	background-repeat: no-repeat;
	background-size: 20cm auto;
	background-position-y: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.428571429;
    margin: 0;
    
}

p {
    color: #000;
    font-weight: normal;
}
.main {
	min-width: 360px;
    /*width: 800px;*/
	padding: 2px 10px 10px 10px;
	position: fixed;
	z-index: 100;
	top: 60px;
    bottom: 20px;
    left: 20%;
    right: 20%;
	/*height: 88%;*/
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 12px #8e8e8e;
}

#modal {
    padding: 2px 25px 10px 25px;
    left: 30%;
    top: 10%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 12px #8e8e8e;
    width: 500px;
    height: max-content;
}

.modal {
    height: auto;
}

.logging {
	position: relative;
    top: 35%;
    width: 300px;
    margin: 0 auto;
/*border: 1px solid #b0afaf;
border-radius: 15px;
background-color: #fff;*/
}

.capt {
	position: absolute;
    right: 0;
	width: 115px;
	top: -12px;
	opacity: .7;
	z-index: 0;
}

.pics {
	width: 100%;
	
}

.container .credit {
  margin: 20px 0;
}
ul{padding-left:2rem}
ul{margin-top:0;margin-bottom:1rem}
ol ol,ol ul,ul ol,ul ul{margin-bottom:0}

li{
	box-sizing:content-box;
	margin-left:25px;
	text-indent:0px;
	/*cursor:pointer;*/
	background-color:transparent;
	background-clip:padding-box;
	text-align: left;
    list-style: none;
}

li:hover {
	opacity:1;
}

.ol-0, .li-0 {
    padding-left: 0;
    margin-left: 0;
}

.nav > li {
    position: relative;
    display: grid;
}
.nav {
    padding-left: 0;
    list-style: none;
}
.navbar-nav {
    float: right;
	margin-top: 13px;
	margin-bottom: 10px;
	margin-right: 125px;
    flex-direction: row;
}
.nav-collapse {
	height: 47px;
	background-color: #ececec;
	margin: 0;
	top: 0;
	position: absolute;
	width: 100%;
    box-shadow: 3px 3px 5px #d0d0d0;
}
a {
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
    opacity: 0.5;
}
a:hover{
	color: #046ecc;
	background-color: transparent;
    opacity: 1;
    text-decoration: none;	
}
a:visited {
    color:#0b5ed7;
}

#op-1 {
    opacity: 1;
}
.dropdown-menu{
	display: none;
	position: absolute;
	margin-top: 2px;
	width: max-content;
	background-color: #fff;
	top: 1.2em;
	padding: 3px 0 3px 11px;
	box-shadow: 1px 2px 7px #8e8e8e;
	border-radius: 5px;
	z-index: 200;
}
.dropdown:hover>.dropdown-menu {
    display: grid;
    position: absolute;
}

.dropdown-menu li {
	padding: 7px 0 7px 2px;
	width: 97%;
	margin: 0 2px 0 2px;
}
.dropdown-menu li:hover {
	background-color: #eee;
}

.dropdown-menu a {
	color: #046ecc;
}



form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
    text-align: center;
}
.text-center {
    text-align: center !important;
}

.form-control, #id_username, #id_password, button {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

#id_username, #id_password {
    width: 100%;
}
input[type="text" i] {
    padding: 2px 9px;
    width: 100%;
}



input:not([type="image" i]) {
    box-sizing: border-box;
}

/*select {
    position: relative;
    
    left: 100px;
    margin-bottom: -30px;
    font-size: small;
    width: 150px;
    
}*/

*, ::after, ::before {
    box-sizing: border-box;
}
.text-muted {
    color: #6c757d!important;
}
.mt-5 {
    margin-top: 0.3rem!important;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.m-1 {
    margin-bottom: 5px!important;
}

.inform {

    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 15px;
    position: fixed;
    z-index: 200;
    top: 65px;
    right: 18px;
    box-shadow: 3px 3px 6px #979797;
    display: none;
}

.vid:hover>.inform {display: block;}

.paginator {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 15px;
    border-top: 1px solid gray;
    width: 90%;
    padding-top: 10px;
}

.listok {
    position: absolute;
    bottom: 62px;
    top: 110px;
    left: 45px;
    overflow: auto;
    margin: 0 auto;
    right: 45px;
}

h1,h2 {
    width: 100%;
    border-bottom: 2px solid darkgray;
    color: darkgray;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}

h3,h4 {
    margin: 0 20px 0 20px;
    color: #3276b3;
}

.frm, textarea {
    width: 95%;
font-size: 1.25em;
padding: 0.5em;
margin-bottom: 1em;
resize: none;
}

#photo-clear_id ::before,::after {
    display: block;
}

label {
    text-align: left;
    display: block;
    text-indent: 1em;
}

#t-num {
    width: 30px;
}

#t-img {
    width: 90px;
    height: 90px;
}

#t-header {
    height: 25px;
    width: auto;
}

#t-edit {
    width: 25px;
}

#t-del {
    width: 25px;
}

#t-comment {
    height:45px;
    padding-left: 20px;
}

#t-list {
    height: 20px;
    padding-left: 20px;
    font-size: small;
}
#listok {
    width: 97%; 
    border-collapse: collapse; 
    margin: 10px auto;
    background-color: lavender;
    box-shadow: 3px 3px 5px gray;
}

#c-gray {
    color: gray;
}

.modal-dialog {
    pointer-events:inherit;
    margin-top: 0.5rem;
}

.modal-content {
    display: block;
    border:none;
}

#arr-left {
    float: left;
}

#arr_right {
    float: right;
}

#arr_left, #arr_right {
    width: 35px; 
    height: 79%;
    display: inline-block;
    border-radius: 13px;
    margin-top: 22px;
}

#arr_left:hover, #arr_right:hover {
    background-color: #eee;
}

#img-arr {
    position: absolute;
    top: 50%;
    width:35px;
}

#add-span {
    opacity: .5;
}

#add-span:hover {
    opacity: 1;

}

button .close {
    width: 35px;
}
/*
input[type="number" i] { 
  -moz-appearance: textfield;
}
input[type="number" i]::-webkit-inner-spin-button { 
  display: none;
}


input[type="text" i]:invalid {
    border: 2px solid red;
  }
*/
.help-block {
    color: red;
}