{% load widget_tweaks %}
{% load static %}

<div class="modal-dialog">
    <div class="modal-header">
        <h3  class="modal-title">Перевод в эксплуатацию</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<form action="" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="modal-body">

        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>

        {% for field in form %}
{% if not field.is_hidden %} 
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            {{ field }}
{% endif %}

        {% endfor %}
    
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Передать">    
    </div>
    <p>* Учетный номер регистрируемого картриджа будет<br> <span style="font-size: 100pt;"><b>{{ form.nmax.value }}</b></span> <br>Не забудьте поставить метку с этим номером на картридж!</p>
</form>

</div>
